@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VOTUM DOZOR</h1>
    <p class="lead">Описание системы</p>
    <p><a href="http://votum-edu.ru" class="btn btn-primary btn-lg">Подробная информация &raquo;</a></p>
</div>